$color_1: var(--primary-color);
$color_2: var(--secondary-color);
$color_3: var(--highlight-color);
$font-family_1: var(--font-family);
$font-family_2: var(--font-headline);
$background-color_1: var(--app-background-color);
$background-color_2: var(--background-color);
$background-color_3: var(--foreground-color);
$background-color_4: var(--highlight-color);
$background-color_5: var(--secondary-color);
$background-color_6: transparent;
$background-color_7: #ff0000;
$outline-color_1: var(--highlight-color);

/* Playlist */
:root {
  --primary-color: #dfdfe2;
  --secondary-color: #ffffff;
  --app-background-color: #3b3b4f;
  --background-color: black;
  --foreground-color: #1b1b32;
  --highlight-color: blue;
  --root-font-size: 16px;
  font-size: var(--root-font-size);
  --font-headline: "Roboto Mono", monospace;
  --font-family: "Lato", sans-serif;
}
* {
  box-sizing: border-box;
  &::after {
    box-sizing: border-box;
  }
  &::before {
    box-sizing: border-box;
  }
}
body {
  background-color: $background-color_1;
  color: $color_1;
  font-family: $font-family_1;
}
h1 {
  font-size: 1.125rem;
  line-height: 1.6;
}
h2 {
  font-size: var(--root-font-size);
}
ul {
  margin: 0;
}
.container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 5px;
}
.player {
  width: 450px;
  background-color: $background-color_2;
  border: 3px solid var(--foreground-color);
  height: 260px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}
.playlist {
  width: 450px;
  background-color: $background-color_2;
  border: 3px solid var(--foreground-color);
  height: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  li {
    &:not(:last-child) {
      border-bottom: 1px solid var(--background-color);
    }
  }
}
.player-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
  width: 100%;
  height: 30px;
  background-color: $background-color_3;
}
.playlist-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
  width: 100%;
  height: 30px;
  background-color: $background-color_3;
}
.parallel-lines {
  display: flex;
  flex-wrap: wrap;
  row-gap: 6px;
  padding: 0 5px;
  > div {
    height: 2px;
    width: 100%;
    min-width: 75px;
    background-color: $background-color_4;
  }
}
.fcc-title {
  color: $color_2;
  margin: 0 10px;
  font-family: $font-family_2;
}
.playlist-title {
  color: $color_2;
  margin: 0 10px;
  font-family: $font-family_2;
}
.player-content {
  display: flex;
  background-color: $background-color_3;
  width: 430px;
  height: 200px;
  column-gap: 13px;
  align-items: center;
  justify-content: center;
}
#player-album-art {
  background-color: $background-color_5;
  border: 6px solid var(--background-color);
  img {
    width: 150px;
    display: block;
  }
}
.player-display {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding: 14px;
  background-color: $background-color_2;
  height: 153px;
  width: 226px;
}
.player-display-song-artist {
  height: 80px;
}
.player-buttons {
  svg {
    fill: var(--primary-color);
  }
  display: flex;
  justify-content: space-around;
}
.playing {
  > svg {
    fill: var(--highlight-color);
  }
}
button {
  background: transparent;
  border: none;
  color: $color_1;
  cursor: pointer;
  font-size: var(--root-font-size);
  outline-color: $outline-color_1;
  text-align: center;
  &:focus {
    outline-style: dashed;
    outline-width: 2px;
  }
}
.playlist-song {
  outline-color: $outline-color_1;
  display: flex;
  height: 55px;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  &:focus {
    outline-style: dashed;
    outline-width: 2px;
  }
}
#playlist-songs {
  width: 430px;
  height: 100%;
  background-color: $background-color_3;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  padding: 8px 9px;
  visibility: visible;
  justify-content: start;
  list-style: none;
}
[aria-current="true"] {
  background-color: $background-color_2;
  p {
    color: $color_3;
  }
}
.playlist-song-info {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  column-gap: 7px;
  padding: 5px 0;
  font-family: $font-family_1;
}
#player-song-title {
  margin: 0;
  font-size: 1.125rem;
}
#player-song-artist {
  margin: 0;
  color: $color_3;
  font-size: 0.75rem;
}
.playlist-song-title {
  font-size: 0.85rem;
  width: 241px;
  text-align: left;
}
.playlist-song-artist {
  font-size: 0.725rem;
  width: 80px;
}
.playlist-song-duration {
  font-size: 0.725rem;
  margin: auto;
  font-family: $font-family_2;
  width: 30px;
}
.playlist-song-delete {
  padding: 0;
  width: 20px;
  height: 20px;
  fill: var(--foreground-color);
  fill: var(--foreground-color);
  &:hover {
    circle {
      fill: $background-color_7;
    }
  }
  &:focus {
    circle {
      fill: $background-color_7;
    }
  }
}
@media (max-width: 700px) {
  .player {
    width: 300px;
    height: 340px;
  }
  .playlist {
    width: 300px;
  }
  #playlist-songs {
    height: 280px;
    padding: 5px 6px;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-color: var(--background-color) var(--secondary-color);
    scrollbar-width: thin;
    width: 280px;
    &::-webkit-scrollbar {
      width: 5px;
    }
    &::-webkit-scrollbar-track {
      background: var(--background-color);
    }
    &::-webkit-scrollbar-thumb {
      background: var(--secondary-color);
    }
  }
  h1 {
    font-size: 0.813rem;
  }
  h2 {
    font-size: 0.75rem;
  }
  .player-bar {
    width: 280px;
  }
  .playlist-bar {
    width: 280px;
  }
  .player-content {
    width: 280px;
    display: inline;
    position: relative;
    justify-items: center;
    height: 100%;
  }
  .playlist-song {
    justify-content: space-between;
  }
  .playlist-song-title {
    width: 140px;
  }
  .playlist-song-artist {
    width: 40px;
  }
  .playlist-song-duration {
    > button {
      padding: 0;
    }
  }
  #player-album-art {
    z-index: -100;
    height: 280px;
    box-shadow: none;
    background: #000;
    img {
      width: 100%;
      opacity: 0.6;
    }
  }
  .player-display-song-artist {
    padding: 0 10px;
    > p {
      white-space: pre-wrap;
    }
  }
  .player-display {
    position: absolute;
    width: 100%;
    z-index: 1000;
    background-color: $background-color_6;
    top: 0;
    height: 280px;
    justify-content: space-between;
    text-align: center;
  }
}
